---
export const prerender = true

import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import Button from '@/components/Button.astro'
import Pagination from '@/components/Paginator.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import { getAllProjects, getUniqueTags, sortMDByDate } from '@/utils'

export const getStaticPaths = (async ({ paginate }) => {
	const allProjects = await getAllProjects()
	const allProjectsByDate = sortMDByDate(allProjects)
	const uniqueTags = getUniqueTags(allProjects)
	return paginate(allProjectsByDate, { pageSize: 10, props: { uniqueTags } })
}) satisfies GetStaticPaths

interface Props {
	page: Page<CollectionEntry<'project'>>
	uniqueTags: string[]
}

const { page, uniqueTags } = Astro.props

const meta = {
	description: 'Projects',
	title: 'Projects'
}

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: `← Previous Projects`,
			url: page.url.prev
		}
	}),
	...(page.url.next && {
		nextUrl: {
			text: `Next Projects →`,
			url: page.url.next
		}
	})
}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<!-- Back Button -->
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'></path>
			</svg>
		</Button>

		<h1 class='mb-6 mt-5 text-2xl font-bold'>Projects</h1>

		<!-- Project List -->
        <div class='space-y-8'>
            {page.data.map((project) => (
                <div class='flex flex-col border-b pb-4'>
                    <!-- Title with Link -->
                    {project.data.githubRepo ? (
                        <a
                            href={project.data.githubRepo}
                            target='_blank'
                            rel='noopener noreferrer'
                            class='text-xl font-semibold text-blue-500 hover:underline'
                        >
                            {project.data.title}
                        </a>
                    ) : (
                        <h2 class='text-xl font-semibold'>{project.data.title}</h2>
                    )}

                    <!-- Description -->
                    <p class="text-muted-foreground mt-2 max-w-[60ch] text-justify leading-relaxed break-words">
                        {project.data.description}
                    </p>

                    <!-- Tags Section -->
                    <div class="mt-4">
                        <!-- Title with Icon -->
                        <div class="flex items-center gap-2 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-tags">
                            <path d="m15 5 6.3 6.3a2.4 2.4 0 0 1 0 3.4L17 19"/>
                            <path d="M9.586 5.586A2 2 0 0 0 8.172 5H3a1 1 0 0 0-1 1v5.172a2 2 0 0 0 .586 1.414L8.29 18.29a2.426 2.426 0 0 0 3.42 0l3.58-3.58a2.426 2.426 0 0 0 0-3.42z"/>
                            <circle cx="6.5" cy="9.5" r=".5" fill="currentColor"/>
                            </svg>
                        </div>

                        <!-- Tags List -->
                        <div class="flex flex-wrap gap-3">
                            {project.data.tags.map((tag) => (
                                <span class="inline-flex items-center gap-x-1 bg-primary-foreground border
                                            border-border px-2 py-1 text-sm transition-all
                                            hover:bg-input rounded-xl text-white">
                                    {tag}
                                </span>
                            ))}
                        </div>
                    </div>
                </div>
            ))}
            </div>
        </div>

		<!-- Pagination -->
		<Pagination {...paginationProps} />
	</div>
</PageLayout>
